<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6dd2980c-dd1f-4641-a85e-0193fd75902e/resourceGroups/LLTDevResourceGroup/providers/Microsoft.Web/sites/LLTDevAgent01</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://lltdevagent01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>lltdevagent01.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LLTDevAgent01</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LLTDevAgent01</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>