<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/5e400b42-5213-475b-a7a6-241f21ae2ff3/resourceGroups/LLTProdResourceGroup/providers/Microsoft.Web/sites/LLTProdAgent02</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://lltprodagent02.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>lltprodagent02.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LLTProdAgent02</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LLTProdAgent02</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>